<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>ITS SC TIME</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dailynews.lk%2F2020%2F03%2F27%2Flocal%2F215318%2Fmore-online-education-avenues-students&psig=AOvVaw19rYP5j-YQJQJCoQX3fEIc&ust=1602092338108000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLiG1JjBoOwCFQAAAAAdAAAAABAD" alt="Photo of a online edu">
  <mat-card-content>
    <p>
SLIIT UEE PROJECT
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
